// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  /* すごい重要！！ */
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%; 
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  display: box;
  background-color: #ffe2ad;
	background-image:
	 linear-gradient(-90deg, #ffe5b5 50%, transparent 50%, transparent);
	background-size: 14px 14px;
}

.hole_area {
  width: 100%;
  display: block;
}

.header{
  height: 70px;
  display: flex;
  background-color: orange;
  margin: 20px 0px;
  position: relative;
    background: orange;
    box-shadow: 0px 0px 0px 5px orange;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
  .after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: orange #fff orange;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  }
  .p {
      margin: 0; 
      padding: 0;
  }
  .header_left {
    color: orangçered;
    margin: 10px 20px 20px;
    font-size: 30px;
    margin-right: auto;
  }
  .header_right {
    display: flex;
    justify-content: space-around;
    margin: 10px 30px;
    &_mypage {
      font-size: 35px;
      color: #aaa;
      text-decoration: none;
      margin: 15px 5px 5px;
    }
    &_rogin {
      width: 50px;
      height: 50px;
      line-height: 35px;
      text-align: center;
      vertical-align: middle;
      color: orangered;
      text-decoration: none;
    }
    &_rogin:hover {
      color: red;
      font-size: 18px;
      font-weight: bold;
      border: white 1px;
      border-radius: 40%;
    }
    &_menu {
      display : block;
      text-align: center;
      margin: 10px 5px 5px;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  border: orange;
  &_tags {
    width: 350px;
    background-color: cornsilk;
  }
  &_posts {
    width: 700px;
    margin: 0px 50px 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: cornsilk;
    padding: 0px 20px 20px;
    &_post {
      height: 250px;
      width: 180px;
      background-color: #fff;
      margin: 20px 20px ;
      &_title {
        height: 40px;
        font-weight: bold;
        line-height: 40px;
        border-bottom: solid orange;
        margin: 10px 0px 0px;
        padding: 0px 10px;
      }
    }
  }
}
